@model List<ResultPropertyDetailDto>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Special Offers</span>
                <h2 class="mb-4">Önerilen İlanlar</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="properties">
                        <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(@item.ImageUrl);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-search2"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <span class="status sale">@item.CategoryName</span>
                            <div class="d-flex">
                                <div class="one">
                                    <h3><a href="#">@item.Address</a></h3>
                                    <p>@item.PropertyType</p>
                                </div>
                                <div class="two">
                                    <span class="price"> @item.Price.ToString("N0") ₺</span>
                                </div>
                            </div>
                            <p>@item.Description</p>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="flaticon-selection"></i> @item.Area</span>
                                <span class="ml-auto"><i class="flaticon-bathtub"></i> @item.BathRooms</span>
                                <span><i class="flaticon-bed"></i>@item.BedRooms</span>
                            </p>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>
